@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

    body {
        display: grid;
        place-items: center;
        background-image: linear-gradient(to bottom right, rgb(50, 132, 255), rgba(245, 14, 149, 0.686), rgb(7, 247, 215));
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        width: 100%;
        height: 20%;
        font-family: 'Mukta', sans-serif;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        overflow-y: scroll;
    }

/* pseudo background  */
body::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 200vw;
    height: 150vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(https://wallpapercave.com/wp/wp4575207.jpg);
    opacity: .3;
    z-index: -1;
    overflow: hidden;
    overflow-y: hidden !important;
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#game {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
}

.card{
    display: center;
    background-color: rgb(40, 40, 255);
    border: 3px solid rgba(19,19,160, 0.7);
    text-align: center;
    font-size: 50px;
    margin: 5px;
    padding: 10px;
    line-height: 75px;
    display: auto;
    justify-content: auto;
    align-items: auto;
    border-radius: 3px;
    transition: 0.3s;
    position: static;
}

.card:hover {
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(69, 69, 250);
    background-image: linear-gradient(to bottom right, rgb(50, 132, 255), rgba(245, 14, 149, 0.686), rgb(7, 247, 215));
    background: linear-gradient(to bottom right, 90deg, rgba(69,69,250,1) 0%, rgba(253, 0, 139, 0.7) 100%);
    animation: gradient 10s ease infinite;
    border-radius: 6px;
}

.first-Button {
    background-color: rgb(17, 150, 0);
}

.second-Button {
    background-color: rgb(255, 3, 3)
}

.genre-title {
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(96, 96, 196);
    border: 4px solid rgb(19,19,160);
    text-align: center;
    font-size: 25px;
    padding: 9px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.correct-answer {
    background-color: rgb(186, 186, 24);
}

.wrong-answer {
    background-color: rgb(221,64,56);
}

h1#JeopardyTitle {
    margin-bottom: -10px;
    height: 50%;
}

h2#score {
    margin-bottom: -10px;
    height: 50%;
}